{% extends "base.html.twig" %}

{% block content %}
<h2>Share a book</h2>
{% form_theme form 'form-element.html.twig' %}

<form action="/index.php/books/save" method="post" enctype="multipart/form-data">
    {{ form_widget(form) }}
</form>
{% endblock %}
