{% extends 'home.html.twig' %}

{% block content %}
<h2>Sign in</h2>

{% form_theme form 'form-element.html.twig' %}

<form method="post" action="/index.php/authenticate" id="login-form">
    <p class="errors"></p>
    {{ form_widget(form) }}
</form>
{% endblock %}
